#container {
  width: 100%;
  max-width: 50rem;
  margin: 2.6rem auto;
  gap: 3rem;
}

#users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 0.8rem;
  overflow: auto;
}
