<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EASY TASK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EASY TASK</ion-title>
    </ion-toolbar>
  </ion-header>

  <main id="container">
    <ul id="users">
      <li>
        <app-user [avatar] = "users[0].avatar" [name] = "users[0].name"></app-user>
      </li>
       <li>
        <app-user  [avatar] = "users[1].avatar" [name] = "users[1].name"></app-user>
      </li>
    </ul>
  </main>
</ion-content>
